<div>
  <input type="number" name="original-value" id="origin-value" (blur)="onUserLeaveValue($event)"/>
  <select name="source-currency" id="source-currency" (change)="onSourceCurrencySelected($event)">
    <option *ngFor="let currency of sourceCurrencies" value="{{ currency }}">{{currency}}</option>
  </select>
  <span>in</span>
  <select name="target-currency" id="target-currency"
          [value]="targetCurrency"
          (change)="onTargetCurrencyChange($event.target.value)">
    <option *ngFor="let currency of exchangeRates" value="{{ currency.abbr }}">{{ currency.abbr }}</option>
  </select>
  <p>Converted Value: {{ calculatedValueForeignCurrency }}</p>
</div>
<div>
  <app-currency-list [allExchangeRates]="exchangeRates" (currencySelectedEmitter)="onTargetCurrencyChange($event)"></app-currency-list>
</div>
