<table>
  <thead>
  <tr>
    <td>Währung</td>
    <td>Kurs</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let exchangeRate of allExchangeRates">
    <td (click)="onCurrencySelected(exchangeRate)">{{ exchangeRate.abbr }}</td>
    <td>{{ exchangeRate.rate }}</td>
  </tr>
  </tbody>
</table>
